<div class="a-modal-section">

  <script type="text/ng-template" id="aModalContent.html" class="modal-script">

    <div>
      <ul>
        <li class="modal-text">Congratulations! You've opened a modal window! Also known as: The Please Sign Up For Our Mailing List Annoyance Window.</li>
        <button class="btn-std" ng-click="aModalCtrl.closeModal()">close</button>
      </ul>
    </div>

  </script>

  <div>
    <button class="btn-std" ng-click="aModalCtrl.openModal()">A Modal</button>
  </div>


</div>

<div class="clearfix"></div>
