@import "../../scss/lib/theme/vars";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 6vw;
}

.header-title {
  font-weight: 100;
  padding: 0px 10px;
}

button {
  background-color: $ltgray;
  border: 1px solid $medgray;
  border-radius: 3px;
  color: $dkgray;
  font-size: 2.1vw;
  white-space: nowrap;
  padding: 4px 18px;

    &:hover {
      background-color: $orange;
    }
}
