<section class="landing">
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <span class="sign-container">
        <span>already a member?</span>
        <a href="/#/join#login"
          ng-click="landingCtrl.showSignup=false">
          <span class="bold">sign in here.</span>
        </a>
      </span>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login></login>
      <span class="sign-container">
        <span>want to signup?</span>
        <a href="/#/join#signup"
          ng-click="landingCtrl.showSignup=true">
          <span class="bold">sign up here.</span>
        </a>
      </span>
    </div>
  </div>
</section>
