@import "../../scss/lib/theme/vars";

.filter-demo-section {

  margin-top: $space-std;
  font-weight: 200;

  h3 {
    margin-top: $space-std;
    margin-bottom: 1vw;
    font-weight: 500;
    font-size: 2vw;
  }

}
